################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoundedResponse/.vs/BoundedResponse/v16/Browse.VC.opendb
